.app {
  text-align: center;
  /* background: rgb(1,22,32);
  background: linear-gradient(280deg, rgba(1,22,32,1) 0%, rgba(13,35,75,1) 26%, rgba(35,55,91,1) 41%, rgba(55,73,106,1) 64%, rgba(55,73,106,1) 85%); */
  background-color: #2a3d60;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
