.navbar {
  width: 85%;
  height: 140px;
  margin: 0 auto;
  color: #23375b;
  max-width: 1440px;
  // position: fixed !important;
  z-index: 100;
  top: 0;
}

.navbar.scrolled {
  background-color: whitesmoke;
  border-radius: 0 0 25px 25px;
  transition: background-color 0.5s ease-in-out;

  .navigation--navbar {
    .button--group {
      background-color: #23375b;
      color: whitesmoke;
      .button {
        &:hover {
          background-color: whitesmoke;
          color: #23375b;
        }
      }
      .active {
        background-color: whitesmoke;
        color: #23375b;
      }
    }
  }
  .navigation--icons {
    .icon {
      color: #23375b;

      &:hover {
        color: whitesmoke;
        background-color: #23375bdf;
      }
    }

    .input {
      color: #23375b;
      border: solid 1px;
    }
    .input::placeholder {
      color: gray;
    }

    .active {
      color: whitesmoke;
      background-color: #23375bdf;
    }
  }

  .icons--hamburguer--menu {
    .input {
      color: #23375b;
      border: 1px solid #23375b;
    }
    .input::placeholder {
      color: gray;
    }

    .button {
      color: #23375b;
      &:hover {
        background-color: #23375b;
        color: whitesmoke;

      }
    }
  }
}

.navigation--navbar {
  .button--group {
    letter-spacing: 2;
    padding: 8px;
    border-radius: 50px;
    background-color: whitesmoke;
    // margin: 0 10px;
    .button {
      background-color: transparent;
      border-radius: 50px;
      &:hover {
        background-color: #23375b;
        color: whitesmoke;
        border-radius: 50px;
      }
    }

    .active {
      background-color: #23375b;
      color: whitesmoke;
    }
  }
}

.navigation--icons {
  .icon {
    border-radius: 50px;
    &:hover {
      background-color: rgba(245, 245, 245, 0.687);
      color: #23375b;
    }
  }

  .input {
    margin-top: 5px;
    position: absolute;
    top: 90px;
    right: 8%;
    width: 300px;
    color: whitesmoke;
    text-align: center;
    border-radius: 100px;
  }

  .active {
    background-color: rgba(245, 245, 245, 0.687);
    color: #23375b;
  }
}

.hamburger--menu {
  display: flex;
  color: #23375b;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 10px;
  padding-top: 5%;
  width: 85vw;
  height: 58vh;
  border: 1px solid #23375b;

  .button {
    background-color: transparent;
    border-radius: 50px;
    margin: 10px 0;
    width: 100%;
    transition: All 0s linear;

    &:hover {
      background-color: #23375b;
      color: white;
      padding: 6px;
      width: 90%;
      border-radius: 4px;
    }
  }

  .active {
    background-color: rgba(245, 245, 245, 0.687);
    color: #23375b;
  }
}

.icons--hamburguer--menu {
  .input {
    margin-top: 5px;
    position: absolute;
    top: 45px;
    right: 0;
    width: 250px;
    color: whitesmoke;
    text-align: center;
    margin-right: 5px;
    border-radius: 100px;
  }
}
